body{
    margin: 0%;
    padding-top: 0%;
    background-image: url("fit.jpg");
    color:black;
    font-family: cursive;
}

.back{
    margin:0;
    padding-bottom: 0;
    padding-top: 0%;
    padding: 0.5%;
    width: 100%;
    background:white;
}
div{
    margin-right: 7%;
    margin-left: 7%;
    background:rgb(216, 211, 211);
   
}
nav{
    margin: 3.5%;
}
footer {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer ul {
    display: flex;
}
footer ul li {
    position:relative;
    display: block;
    color:#bea308;
    font-size: 40px;
    height: 30px;
    width: 60px;
    line-height: 60px;
    border-radius: 50px;
    margin: 0 15px;
    cursor: pointer;
}
footer ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index:-1 ;
    transform: scale(0.9);
    transition: .5s;
}
footer ul li :hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #b9910d;
}
footer ul li:hover{
    color: #ffa502;
}